<!--
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='align-right'>
            <a href='/sell' class='btn btn-danger navbar-btn'>Sell a dog!</a>
        </div>
    </div>
    <div class='pull-left'>
        <a href='/buy' class='btn btn-primary navbar-btn'>Buy a dog!</a>
    </div>
    <div class='mx-auto' style="width: 600px">
        <a href='/' class='btn btn-success navbar-btn'>Home</a>
    </div>
    </div>
</nav>
-->
<div class="navbar navbar-static-top ">
    <!--<a class="navbar-brand" href="#">Title</a> -->
    <div class= "row">
        <div style="border:1px solid purple;text-align:center;" class="col-4 col-offset-4">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/buy">Buy a dog!</a></li>
                <li><a href="/sell">Sell a dog!</a></li>
            </ul>
        </div>
    </div>
</div>