{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/buy/{{dog._id}}'>
    <fieldset>
        <legend>Edit post!</legend>
        <!-- TITLE -->
        <p>
            <label for='dog-breed'>Breed</label><br>
            <input id='dog-breed' type='text' name='breed' value='{{ dog.breed }}'/>
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' value='{{ dog.description }}' />
        </p>
        <!-- LOCATION -->
        <p>
            <label for='location'>Location (State, city, address, zipcode)</label><br>
            <input id='location' type='text' name='location' value='{{ dog.location }}' />
        </p>

        <!-- PICTURE -->
        <p>
            <label for='picture'>Photo!</label><br>
            <input id='picture' type='picture' name='picture' value='{{ dog.picture }}' />
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save</button>
    </p>
</form>
{% endblock %}