{% extends 'base.html' %}

{% block content %}

<a href='/'>Back to the homepage!</a>

<form method='POST' action='/sell'>
    <fieldset>
    <legend>Sell a poodle!</legend>
    <!-- BREED -->
    <p>
        <label for='breed'>Breed</label><br>
        <input type='text' name='breed' />
    </p>

    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='description' />
    </p>
    <p>
        <label for='location'>Location (State, city, address, zipcode)</label><br>
        <input type='text' name='location' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save</button>
    </p>
</form>
{% endblock %}